<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .User.Name }} | BareCV | Your Web CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/cv/default.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-10">
                <div class="row header">
                    <div class="col-sm-12 address">
                        <p>Marice Baric 3</p>
                        <p>10000 Zagreb</p>
                        <p>Croatia</p>
                        <p><i class="glyphicon glyphicon-phone-alt"></i> {{ .User.Phone }}</p>
                    </div>
                    <div class="col-sm-6 name">
                        <h1>{{ .User.Name }}</h1>
                        <h3 class="light-grey">{{ .User.Profession }}</h3>
                    </div>
                    <div class="col-sm-6 contact">
                        <p><i class="glyphicon glyphicon-envelope"></i> <a href="javascript: void null;">{{ .User.Email }}</a></p>
                        <p><i class="ion-mouse"></i> <a href="javascript: void null;"> {{ .User.Website }}</a></p>
                        <p><i class="ion-social-linkedin header-icon"></i> <a href="{{ .User.LinkedIn }}">tpiha</a></p>
                        <p><span class="ion-social-github header-icon"></span> <a href="{{ .User.GitHub }}">tpiha</a></p>
                    </div>
                </div>

                <div class="section first-section">
                    <div class="row">
                        <div class="col-sm-3 section-rule">&nbsp;</div>
                        <div class="col-sm-9"><h4 class="red">Education</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">2003 - 2007</div>
                        <div class="col-sm-9"><p><strong>Computer Science</strong>, Faculty of Electrical Engineering and Computing (FER), Zagreb.<br />Software Department</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">1999 - 2003</div>
                        <div class="col-sm-9"><p><strong>High School</strong>, "Matija Mesic" Preparatory High School, Slavonski Brod.<br />Science Department</p></div>
                    </div>
                </div>

                <div class="section">
                    <div class="row">
                        <div class="col-sm-3 section-rule">&nbsp;</div>
                        <div class="col-sm-9"><h4 class="red">Programming</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Senior</div>
                        <div class="col-sm-9"><p>Go, Python, PHP, Bash, SQL, JavaScript, HTML, CSS</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Junior</div>
                        <div class="col-sm-9"><p>C, C++, Ruby, Java, J2ME</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Frameworks</div>
                        <div class="col-sm-9"><p>Django, Flask, Laravel, Symfony, jQuery, Bootstrap, AngularJS, Martini</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">APIs</div>
                        <div class="col-sm-9"><p>Dropbox, GitHub, Bitbucket, DigitalOcean, TelAPI, Name.com</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">VCS</div>
                        <div class="col-sm-9"><p>Git, Bazaar, Subversion, CVS</p></div>
                    </div>
                </div>

                <div class="section">
                    <div class="row">
                        <div class="col-sm-3 section-rule">&nbsp;</div>
                        <div class="col-sm-9"><h4 class="red">System Administration and DevOps</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Sysadmin</div>
                        <div class="col-sm-9"><p>Apache, nginx, BIND9, ProFTPD, OpenSSH, MySQL, PostgreSQL, OpenLDAP, RabbitMQ, Redis, Celery, Sensu, Nagios, Jenkins CI</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">DevOps</div>
                        <div class="col-sm-9"><p>Docker, Ansible, Fabric, Cuisine, Puppet, Digital Ocean, Vultr, Amazon S3, Amazon AWS</p></div>
                    </div>
                </div>

                <div class="section">
                    <div class="row">
                        <div class="col-sm-3 section-rule">&nbsp;</div>
                        <div class="col-sm-9"><h4 class="red">Languages</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">English</div>
                        <div class="col-sm-9"><p><strong>Native or bilingual proficiency</strong></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Croatian</div>
                        <div class="col-sm-9"><p><strong>Native or bilingual proficiency</strong></p></div>
                    </div>
                </div>

                <div class="section">
                    <div class="row">
                        <div class="col-sm-3 section-rule">&nbsp;</div>
                        <div class="col-sm-9"><h4 class="red">Other</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Awards</div>
                        <div class="col-sm-9"><p>3rd place on National Youth Fair of Technical Creativity in Pula (1998),<br />
                                                2nd place on National Youth Fair of Technical Creativity in Zadar (1997)</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Driver License</div>
                        <div class="col-sm-9"><p>Yes</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 period">Activities</div>
                        <div class="col-sm-9"><p>KSET Students Club, Aeroclub "Brod", Taekwondo club "Brod"</p></div>
                    </div>
                </div>

                <div class="footer">&nbsp;</div>

            </div>
            <div class="col-sm-1">&nbsp;</div>
        </div>
    </div>

</body>
</html>
