<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .User.Name }} | BareCV | Your Web CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/cv-templates/default.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-10">
                <div class="row bottom-row">
                    <div class="col-sm-6 name bottom-column">
                        <h1>{{ .User.Name }}</h1>
                        <h3 class="light-grey">{{ .User.Profession }}</h3>
                    </div>
                    <div class="col-sm-6 contact bottom-column">
                        <p>Marice Baric 3</p>
                        <p>10000 Zagreb</p>
                        <p>Croatia</p>
                        <p><i class="glyphicon glyphicon-phone-alt"></i> {{ .User.Phone }}</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> <a target="_blank" href="mailto:{{ .User.Email }}">{{ .User.Email }}</a></p>
                        <p><i class="ion-mouse"></i> <a target="_blank" href="http://{{ .User.Website }}"> {{ .User.Website }}</a></p>
{{ if .User.LinkedIn }}
                        <p><i class="ion-social-linkedin header-icon"></i> <a href="{{ .User.LinkedIn }}">{{ .User.LinkedIn }}</a></p>
{{ end }}
{{ if .User.Facebook }}
                        <p><i class="ion-social-facebook header-icon"></i> <a href="{{ .User.Facebook }}">{{ .User.Facebook }}</a></p>
{{ end }}
{{ if .User.Twitter }}
                        <p><i class="ion-social-twitter header-icon"></i> <a href="{{ .User.Twitter }}">{{ .User.Twitter }}</a></p>
{{ end }}
{{ if .User.GitHub }}
                        <p><i class="ion-social-github header-icon"></i> <a href="{{ .User.GitHub }}">{{ .User.GitHub }}</a></p>
{{ end }}
{{ if .User.Instagram }}
                        <p><i class="ion-social-instagram header-icon"></i> <a href="{{ .User.Instagram }}">{{ .User.Instagram }}</a></p>
{{ end }}
                    </div>
                </div>

{{ range $key, $section := .User.GetSections }}
{{ if eq $section.Type 1 }}
                <div class="row">
                    <div class="col-sm-3 section-rule">&nbsp;</div>
                    <div class="col-sm-9"><h4 class="red">{{ $section.Title }}</h4></div>
                </div>
{{ else if eq $section.Type 2 }}
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9"><h5 class="red">{{ $section.Subtitle }}</h5></div>
                </div>
{{ else if eq $section.Type 3 }}
                <div class="row">
                    <div class="col-sm-3 period">{{ $section.Left }}</div>
                    <div class="col-sm-9">{{ $section.GetRight }}</div>
                </div>
{{ end }}
{{ end }}

                <div class="footer">&nbsp;</div>

            </div>
            <div class="col-sm-1">&nbsp;</div>
        </div>
    </div>

</body>
</html>
