<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .User.Name }} | BareCV | Your Web CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{{ if eq .Settings.Font "Roboto" }}
    <link href='https://fonts.googleapis.com/css?family={{ unescaped .Settings.Font }}:100,300,100italic,300italic' rel='stylesheet' type='text/css'>
{{ else }}
    <link href='https://fonts.googleapis.com/css?family={{ unescaped .Settings.Font }}' rel='stylesheet' type='text/css'>
{{ end }}
    <link rel="stylesheet" href="/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/cv-templates/default.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">

        .color { color: {{ .Settings.Color }}; }
        a { color: {{ .Settings.Color }}; text-decoration: underline; }
        .section-rule { border-bottom: 8px {{ .Settings.Color }} solid; }
        * { font-family: '{{ unescaped .Settings.Font }}'; }
        .address {  }

    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-10">
                <div class="row bottom-row">
                    <div class="col-sm-6 name bottom-column">
                        <h1>{{ .User.Name }}</h1>
                        <h3 class="light-grey">{{ .User.Profession }}</h3>
                    </div>
                    <div class="col-sm-6 contact bottom-column">
                        <p>Marice Baric 3</p>
                        <p>10000 Zagreb</p>
                        <p>Croatia</p>
                        <p><i class="glyphicon glyphicon-phone-alt"></i> {{ .User.Phone }}</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> <a target="_blank" href="mailto:{{ .User.Email }}">{{ .User.Email }}</a></p>
                        <p><i class="ion-mouse"></i> <a target="_blank" href="http://{{ .User.Website }}"> {{ .User.Website }}</a></p>
{{ if .User.LinkedIn }}
                        <p><i class="ion-social-linkedin header-icon"></i> <a target="_blank" href="https://{{ .User.LinkedIn }}">{{ .User.LinkedIn }}</a></p>
{{ end }}
{{ if .User.Facebook }}
                        <p><i class="ion-social-facebook header-icon"></i> <a target="_blank" href="https://{{ .User.Facebook }}">{{ .User.Facebook }}</a></p>
{{ end }}
{{ if .User.Twitter }}
                        <p><i class="ion-social-twitter header-icon"></i> <a target="_blank" href="https://{{ .User.Twitter }}">{{ .User.Twitter }}</a></p>
{{ end }}
{{ if .User.GitHub }}
                        <p><i class="ion-social-github header-icon"></i> <a target="_blank" href="https://{{ .User.GitHub }}">{{ .User.GitHub }}</a></p>
{{ end }}
{{ if .User.Instagram }}
                        <p><i class="ion-social-instagram header-icon"></i> <a target="_blank" href="https://{{ .User.Instagram }}">{{ .User.Instagram }}</a></p>
{{ end }}
                    </div>
                </div>

{{ range $key, $section := .User.GetSections }}
{{ if eq $section.Type 1 }}
                <div class="row">
                    <div class="col-sm-3 section-rule">&nbsp;</div>
                    <div class="col-sm-9"><h4 class="color">{{ $section.Title }}</h4></div>
                </div>
{{ else if eq $section.Type 2 }}
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9"><h5 class="color">{{ $section.Subtitle }}</h5></div>
                </div>
{{ else if eq $section.Type 3 }}
                <div class="row">
                    <div class="col-sm-3 period">{{ $section.Left }}</div>
                    <div class="col-sm-9">{{ $section.GetRight }}</div>
                </div>
{{ end }}
{{ end }}

                <div class="footer">&nbsp;</div>

            </div>
            <div class="col-sm-1">&nbsp;</div>
        </div>
    </div>

{{ if .Settings.GoogleAnalytics }}
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ .Settings.GoogleAnalytics }}', 'auto');
        ga('send', 'pageview');

    </script>
{{ end }}
</body>
</html>
