.contact p, .address p { text-align: right; margin-bottom: 0px; font-weight: 100; font-style: italic; min-width: 250px; }
.contact { padding-right: 0px; }
.name { padding-left: 0px; }
.name h3 { font-style: italic; margin-bottom: 0px; }
.grey { color: #464646; }
.light-grey { color: #9E9E9E; }
.name > h1 { margin-top: 0; }
.name > h3 { margin-top: 0; }
.period { text-align: right; }
.header-icon { font-size: 1.2em; }
.footer { margin-bottom: 50px; }
h6 { margin-top: -5px; }
h4 { font-size: 1.5em; }

.bottom-row { display: table; width: 100%; margin: 50px 0px; }
.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}