                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        CV Builder
                        <small>Build your CV</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{{ .AppUrl }}/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active">CV</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

{{ range $key, $message := .SuccessFlash }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>    <i class="icon fa fa-check"></i> Success!</h4>
                                {{ $message }}
                            </div>
                        </div><!-- /.col (LEFT) -->
                    </div><!-- /.row -->
{{ end }}
{{ range $key, $message := .ErrorFlash }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>    <i class="icon fa fa-ban"></i> Error!</h4>
                                {{ $message }}
                            </div>
                        </div><!-- /.col (LEFT) -->
                    </div><!-- /.row -->
{{ end }}

                    <div class="row">

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-user"></i>
                                    <h3 class="box-title">General Profile</h3>
                                </div><!-- /.box-header -->
                                <form role="form" method="POST" action="{{ .AppUrl }}/cv-save">
                                    <div class="box-body">
                                        <div class="form-group{{ range .Errors }}{{ range .FieldNames }}{{ if eq . "name" }} has-error{{ end }}{{ end }}{{ end }}">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" value="{{ .User.Name }}">
                                            {{ range .Errors }}{{ range .FieldNames }}{{ if eq . "name" }}<p class="help-block text-red">This field is required.</p>{{ end }}{{ end }}{{ end }}
                                        </div>
                                        <div class="form-group{{ range .Errors }}{{ range .FieldNames }}{{ if eq . "profession" }} has-error{{ end }}{{ end }}{{ end }}">
                                            <label for="profession">Profession</label>
                                            <input type="text" class="form-control" id="profession" name="profession" placeholder="Enter short description of your profession" value="{{ .User.Profession }}">
                                            {{ range .Errors }}{{ range .FieldNames }}{{ if eq . "profession" }}<p class="help-block text-red">This field is required.</p>{{ end }}{{ end }}{{ end }}
                                        </div>

                                        <div class="form-group{{ range .Errors }}{{ range .FieldNames }}{{ if eq . "email" }} has-error{{ end }}{{ end }}{{ end }}">
                                            <label for="email">Email</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address" value="{{ .User.Email }}">
                                            </div>
                                            {{ range .Errors }}{{ range .FieldNames }}{{ if eq . "email" }}<p class="help-block text-red">This field is required.</p>{{ end }}{{ end }}{{ end }}
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" value="{{ .User.Phone }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="website">Website</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                                <input type="text" class="form-control" id="website" name="website" placeholder="Enter your website URL" value="{{ .User.Website }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <textarea id="address" name="address" class="form-control" rows="3" placeholder="Enter your address in 2 &dash; 3 lines">{{ .User.Address }}</textarea>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary pull-right">Save Profile</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-link"></i>
                                    <h3 class="box-title">Social Networks</h3>
                                </div><!-- /.box-header -->
                                <form role="form" method="POST" action="{{ .AppUrl }}/cv-save-social">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="linkedin">LinkedIn</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                                                <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="Enter your LinkedIn public URL" value="{{ .User.LinkedIn }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="facebook">Facebook</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Enter your Facebook public URL" value="{{ .User.Facebook }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="twitter">Twitter</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Enter your Twitter public URL" value="{{ .User.Twitter }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="github">GitHub</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-github"></i></span>
                                                <input type="text" class="form-control" id="github" name="github" placeholder="Enter your GitHub public URL" value="{{ .User.GitHub }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="instagram">Instagram</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                                                <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Enter your Instagram public URL" value="{{ .User.Instagram }}">
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary pull-right">Save Social Networks</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>

                    </div><!-- /.row -->

                </section><!-- /.content -->
